@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

.navLink {
  text-decoration: none;
  color: darkslateblue;
  font-weight: 500;
  transition: color 0.5s ease;
  position: relative;
}

.navLink:hover {
  color: rgb(60, 60, 60);
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(60, 60, 60);
  transition: width 0.5s ease;
}

.navLink:hover::after {
  width: 100%;
}
